[submodule "submodules/gsplines"]
	path = submodules/gsplines
	url = git@github.com:rafaelrojasmiliani/gsplines.git
[submodule "submodules/gspline_optimizer"]
	path = submodules/gspline_optimizer
	url = git@github.com:rafaelrojasmiliani/gspline_optimizer.git
