[submodule "submodules/gsplines"]
	path = submodules/gsplines
	url = https://github.com/rafaelrojasmiliani/gsplines.git
[submodule "submodules/gspline_optimizer"]
	path = submodules/gspline_optimizer
	url = https://github.com/rafaelrojasmiliani/gspline_optimizer.git
